<div class="container mt-3">
  <app-count-employees
    [all]="getTotalEmployees()"
    [female]="getTotalEmployeesFemale()"
    [male]="getTotalEmployeesMale()"
    (countRadioButtonChange)="countEmployeeRadioButtonChange($event)"
  ></app-count-employees>
</div>
<div class="card mt-3">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">lastname</th>
          <th scope="col">salary</th>
          <th scope="col">sex</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of listEmployees">
          <tr *ngIf="radioSelected == 'all' || radioSelected === employee.sex">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.salary | currency }}</td>
            <td>{{ employee.sex }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
